<div class="card" *ngIf="!codigo">
  <h2>Adicionar Cliente</h2>
  <form [formGroup]="formCliente" (ngSubmit)="salvar()" class="form">
    <div class="formInput">
      <div class="inputs">
        <label for="codigo">Código</label>
        <input type="text" id="codigo" placeholder="Código" formControlName="codigo">
        <div *ngIf="formCliente.get('codigo')?.errors" class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="nome">Nome</label>
        <input type="text" id="nome" placeholder="Nome" formControlName="nome">
        <div *ngIf="formCliente.get('nome')?.errors" class="error-message">Campo Obrigatório</div>
      </div>
    </div>

    <div class="formInput">
      <div class="inputs">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" placeholder="999.999.999-99" formControlName="cpf">
        <div *ngIf="formCliente.get('cpf')?.errors" class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" placeholder="(99) 99999-9999" formControlName="telefone">
        <div *ngIf="formCliente.get('telefone')?.errors" class="error-message">Campo Obrigatório</div>
      </div>
    </div>

    <div class="formInputs">
      <div class="inputs">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" placeholder="Endereço" formControlName="endereco">
        <div *ngIf="formCliente.get('endereco')?.errors" class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" placeholder="Cidade" formControlName="cidade">
        <div *ngIf="formCliente.get('cidade')?.errors"
        class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="estado">Estado</label>
        <input type="text" id="estado" placeholder="Estado" formControlName="estado">
        <div *ngIf="formCliente.get('estado')?.errors" class="error-message">Campo Obrigatório</div>
      </div>
    </div>

    <div class="btn-container">
      <button class="btn-danger" (click)="voltar()">Voltar</button>
      <button class="btn-submit" [disabled]="!formCliente.valid" type="submit">Salvar</button>
    </div>
  </form>
</div>

<div class="card" *ngIf="codigo">
  <h2>Editar Cliente</h2>
  <form [formGroup]="formCliente" (ngSubmit)="salvar()" class="form">
    <div class="formInput">
      <div class="inputs">
        <label for="codigo">Código</label>
        <input type="text" id="codigo" placeholder="Código" formControlName="codigo">
        <div *ngIf="formCliente.get('codigo')?.errors && formCliente.get('codigo')?.touched" class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="nome">Nome</label>
        <input type="text" id="nome" placeholder="Nome" formControlName="nome">
        <div *ngIf="formCliente.get('nome')?.errors && formCliente.get('nome')?.touched" class="error-message">Campo Obrigatório</div>
      </div>
    </div>

    <div class="formInput">
      <div class="inputs">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" placeholder="999.999.999-99" formControlName="cpf">
        <div *ngIf="formCliente.get('cpf')?.errors && formCliente.get('cpf')?.touched" class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" placeholder="(99) 99999-9999" formControlName="telefone">
        <div *ngIf="formCliente.get('telefone')?.errors && formCliente.get('telefone')?.touched" class="error-message">Campo Obrigatório</div>
      </div>
    </div>

    <div class="formInputs">
      <div class="inputs">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" placeholder="Endereço" formControlName="endereco">
        <div *ngIf="formCliente.get('endereco')?.errors && formCliente.get('endereco')?.touched" class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" placeholder="Cidade" formControlName="cidade">
        <div *ngIf="formCliente.get('cidade')?.errors && formCliente.get('cidade')?.touched"
        class="error-message">Campo Obrigatório</div>
      </div>

      <div class="inputs">
        <label for="estado">Estado</label>
        <input type="text" id="estado" placeholder="Estado" formControlName="estado">
        <div *ngIf="formCliente.get('estado')?.errors && formCliente.get('estado')?.touched" class="error-message">Campo Obrigatório</div>
      </div>
    </div>

    <div class="btn-container">
      <button class="btn-danger" (click)="voltar()">Voltar</button>
      <button class="btn-submit" [disabled]="!formCliente.valid" type="submit">Salvar</button>
    </div>
  </form>
</div>
